{% extends 'base.html' %}

{% block content %}

<section class="panel">
    <h2>Recently added</h2>
    {% if recently_added %}
    
    
    <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for movie in recently_added %}
      
        <div class="swiper-slide">
            <a href="{% url 'movies:movie_detail' movie.slug %}">
                <img class="img-fluid" src="{{movie.image.url}}" alt="{{movie.title}}">
                <h2 class="movietitle">{{movie.title}}</h2>
            </a>
        </div>
      {% empty %}
        <div class="alert alert-warning ">Aucun film à afficher</div>
      {% endfor %}
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  {% else %}
    
        <div class="alert alert-warning ">Aucun film à afficher</div>

    {% endif %}
</section>

<section class="panel">
    <h2>Top rated</h2>
    {% if top_rated %}
    
   
    <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for movie in top_rated %}
        <div class="swiper-slide">
            <a class="d-flex flex-column h-100" href="{% url 'movies:movie_detail' movie.slug %}">
                <img class="img-fluid h-100" src="{{movie.image.url}}" alt="{{movie.title}}">
                <h3 class="movietitle mt-auto pb-4">{{movie.title}}</h3>
            </a>
        </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    {% comment %} <div class="swiper-pagination">
    </div>
   {% endcomment %}
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
    {% else %}
    
        <div class="alert alert-warning ">Aucun film à afficher</div>

    {% endif %}
</section>
<section class="panel">
    <h2>Most watched</h2>
    {% if most_watched %}
    
    <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for movie in most_watched %}

        <div class="swiper-slide">
            <a class="d-flex flex-column h-100" href="{% url 'movies:movie_detail' movie.slug %}">
                <img class="img-fluid h-100" src="{{movie.image.url}}" alt="{{movie.title}}">
                <h3 class="movietitle mt-auto pb-4">{{movie.title}}</h3>
            </a>
        </div>

        </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    {% comment %} <div class="swiper-pagination">
    </div> {% endcomment %}
  
   <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
  </div>
  {% else %}
    
        <div class="alert alert-warning ">Aucun film à afficher</div>

    {% endif %}
</section>

{% endblock %}

{% block js %}
    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,

            {% comment %} slidesPerView: 3, {% endcomment %}

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });
    </script>
{% endblock %}